<!-- <table matSort (matSortChange)="sortCustomerData($event)"> -->
        <app-toolbar></app-toolbar>
        <br/>
<table matSort class="table table-bordered">

    <tr>
        <th mat-sort-header="customername">Customer Name</th>
        <th mat-sort-header="amount">Amount</th>
        <th mat-sort-header="mobile">Mobile</th>
        <th mat-sort-header="email">Email</th>
        <th mat-sort-header="source">Source</th>
        <th mat-sort-header="destination">Destination</th>
        <th mat-sort-header="time">Time</th>
        <th mat-sort-header="picker">Date</th>
    </tr>

    <!-- <mat-card *ngIf="customerList | async as customer"> -->

    <tr *ngFor="let customer of list;let myIndex = index">
        <td>{{customer.customername}}</td>
        <td>{{customer.amount}}</td>
        <td>{{customer.mobile}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.source}}</td>
        <td>{{customer.destination}}</td>
        <td>
        </td>
        <td></td>


    </tr>


</table>