<app-toolbar></app-toolbar>
<mat-card>
    <mat-card [style.backgroundColor]="'pink'" *ngIf="MsgFlag">{{Message}}</mat-card>
    
    <br>
    <form [formGroup]="ngForm" (ngSubmit)="onSubmit(ngForm.value)">
      <div class="example-container">
        <mat-form-field>
          <input matInput formControlName="vehiclenumber" placeholder="Enter Vehicle Number" required />
        </mat-form-field>
          
        <mat-form-field>
          <input matInput #input maxlength="4" formControlName="amount" placeholder="Enter Amount" required />
          <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
        </mat-form-field>
     
        <mat-form-field>
            <textarea matInput formControlName="description" placeholder="Enter description" matTextareaAutosize matAutosizeMinRows="2"
                      matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
     
        <mat-form-field>
          <input matInput formControlName="date" [matDatepicker]="date" placeholder="Choose a date" required>
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
       
       
  
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!ngForm.valid">Save</button>
    </form>
  </mat-card>